rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Usuarios - leitura livre para login no celular funcionar mesmo sem auth pronta
    match /usuarios/{login} {
      allow read: if true;
      allow write: if true;
    }
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /progress/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /questoes/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /niveisQuiz/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /anatomiaCapitulos/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /relatorios/{docId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
}
